[submodule "mysub/submodulerepo"]
	path = mysub/submodulerepo
	url = https://github.com/ajosephantony/submodulerepo.git
[submodule "submodulerepo"]
	path = submodulerepo
	url = https://github.com/ajosephantony/submodulerepo.git
	branch = release
[submodule "thirdproject"]
	path = submodulerepo
	url = https://github.com/ajosephantony/thirdproject.git
	branch = master
