[submodule "SubModules/Radio"]
	path = SubModules/Radio
	url = https://github.com/ajosephantony/Radio.git
	branch = release
[submodule "SubModules/HMIApp"]
	path = SubModules/HMIApp
	url = https://github.com/ajosephantony/HMIApp.git
	branch = release
[submodule "SubModules/SDR"]
	path = SubModules/SDR
	url = https://github.com/ajosephantony/SDR.git
	branch = release
